<div class="col-8 offset-2 my-5">
  <nav class="navbar navbar-expand-lg bg-light mb-4">
    <div class="container-fluid">
      <ul class="nav nav-pills">
        <li class="nav-item me-2">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Home page
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cars" routerLinkActive="active">Cars manager</a>
        </li>
      </ul>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>